body {
    /*background-image: url("320213_noch_nebo_zvezdy_meteor_sled_gory_2560x1600_(www.GdeFon.ru).jpg");*/
    background-image: url(Cold-and-hot.jpg);
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
}

h1{
    font-size: 100px;
	position: absolute;
	left: 40%;
	top: -60px;
    font-family: 'SnellRoundhand' 'sans-serif';
    color: white;
    text-align:center;
    background:rgba(10,10,10,.1);
    height:60px;
}

div.nav{
	background:rgba(10,10,10,.3);
    
    height:700px;

}

div.nav{
    margin:50px;
}

#planete {
    background-image: url("planete.jpg");
    background-repeat: no-repeat;
    height: 195px;
    background-size: 100% 100%;
    width: 200px;
    position: absolute;
    top: -22px;
    left: 4%;
}

#connexion{
    position: absolute;
    left: 35%;
    top: 200px;
    font-family:'SnellRoundhand' 'sans-serif';
    font-size: 30px;
    color: white;
}


#Button{
    position: absolute;
    left: 39%;
    top: 100px;
    font-family:'SnellRoundhand' 'sans-serif';
    font-size: 20px;
    
}

#CopyRight{
    position: absolute;
    left: 45%;
    top: 782px;
    font-family:"Tahoma";
    font-size: 15px;
    color: grey;
}


input{
        border:1px solid white;
        background-color:rgba(0,0,0,.3);
        font-family:'SnellRoundhand' 'sans-serif';
        color:silver;
        font-size: 15px;
    }
    
#position{
    position:relative;       
}

#usine{
	border: 2px solid white;
	margin-top: 160px;
	margin-left: 0%;
	height: 600px;
	top: 0px;
	width: 20%;
	
}

#bataille{
	position: absolute;
	border: 2px solid white;
	margin-top: 160px;
	margin-left: 22%;
	height: 600px;
	top: 0px;
	width: 40%;
}

h2{
    font-size: 52px;
	position: absolute;
	left: 45%;
	top: -40px;
    font-family: 'SnellRoundhand' 'sans-serif';
    color: white;
    text-align:center;
    background:rgba(10,10,10,.1);
    height:60px;
}

h3{
    font-size: 52px;
	position: absolute;
	left: 5%;
	top: 115px;
    font-family: 'SnellRoundhand' 'sans-serif';
    color: white;
    text-align:center;
    background:rgba(10,10,10,.1);
    height:60px;
}

#mine{
	position: absolute;
	border: 2px solid white;
	margin-top: 160px;
	margin-left: 64%;
	height: 600px;
	top: 0px;
	width: 35%;
}

#ressources{
    position: absolute;
    border: 2px solid white;
    margin-top: 6%;
    margin-left: 2%;
    height: 63%;
    top: 0px;
    width: 20%;   
}

#infoMine{
    position: absolute;
    border: 2px solid white;
    margin-top: 1%;
    margin-left: 26%;
    height: 86%;
    top: 0px;
    width: 56%;     
}

#lvl{
    position: absolute;
    border: 2px solid white;
    margin-top: 2%;
    margin-left: 89%;
    height: 22%;
    top: 0px;
    width: 9%;     
}

#test{
    margin: 1%;
    color: white;
}

#test2{
    margin-top: 8%;
    color: white;
}

#lvlUP{
	color: white;
    position: absolute;
    border: 2px solid white;
    margin-top: 180px;
    margin-left: 16%;
    height: 30px;
    top: 0px;
    width: 3%;     
}

#nvmUP{
    position: absolute;
	background-color: gray;
    left: 89%;
    top: 56px;
    font-size: 12px;	
}

#nvUUP{
    position: absolute;
    border: 2px solid white;
	background-color: gray;
    left: 16%;
    top: 680px;
    font-size: 12px;	
}

#infoFact{
    background-color: rgba(100, 100, 100, 0.6);
    position: absolute;
    border: 1px solid white;
    margin-top: 26%;
    margin-left: 1%;
    width: 13%;
    height: 80px;
}

#ressources2{
    position: absolute;
    border: 2px solid white;
    margin-top: 6%;
    margin-left: 2%;
    height: 63%;
    top: 0px;
    width: 20%;   
}

#infoMine2{
    position: absolute;
    border: 2px solid white;
    margin-top: 1%;
    margin-left: 26%;
    height: 86%;
    top: 0px;
    width: 56%;     
}

#lvl2{
    position: absolute;
    border: 2px solid white;
    margin-top: 2%;
    margin-left: 89%;
    height: 22%;
    top: 0px;
    width: 9%;     
}

#lvlUP2{
    position: absolute;
    border: 2px solid white;
    margin-top: 180px;
    margin-left: 16%;
    height: 30px;
    top: 0px;
    width: 3%;     
}

#nvmUP2{
    position: absolute;
    background-color: gray;
    left: 89%;
    top: 56px;
    font-size: 12px;    
}

#creation-droides{
    position: absolute;
	background-color: gray;
    left: 6%;
    top: 245px;
    font-size: 12px;	
}

#Logout{
    position: absolute;
	background-color: gray;
    left: 95%;
    top: 100px;
    font-size: 12px;	
}

#Nom{
	position: absolute;
    left: 2%;
    top: 0px;
    font-family:"Tahoma";
    font-size: 15px;
    color: white;
}

#metal{
	background-color: rgba(100, 100, 100, 0.6);
	position: absolute;
	border: 1px solid white;
	margin-top: 74px;
	margin-left: 20px;
	width: 94%;
	height: 23%;
}

#cristal{
	background-color: rgba(100, 100, 100, 0.6);
	position: absolute;
	border: 1px solid white;
	margin-top: 354px;
	margin-left: 20px;
	width: 94%;
	height: 23%;
}

#matiere{
	background-color: rgba(100, 100, 100, 0.6);
	position: absolute;
	border: 1px solid white;
	margin-top: 440px;
	margin-left: 20px;
	width: 94%;
	height: 23%;
}

#en-cours{
	background-color: rgba(100, 100, 100, 0.6);
	position: absolute;
	border: 1px solid white;
	margin-top: 120px;
	margin-left: 20px;
	width: 17%;
	height: 350px;
}